h2 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18pt; font-style: normal; font-weight: bold; line-height: 24pt}
h1 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 24pt; font-weight: bolder; line-height: 30pt}
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; font-style: normal; line-height: 18pt; font-weight: bold}
h4 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt; font-style: italic; line-height: 16pt; font-weight: normal}
h5 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-style: normal; font-weight: bold; line-height: 14pt}
h6 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; font-style: italic; line-height: 14pt; font-weight: normal}
a {  font-weight: bold; text-decoration: none; font-family: Verdana, Arial, Helvetica, sans-serif}
li {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt; line-height: 20pt; font-style: normal; color: #FFFFFF; clip:   rect(   )}
p {  font-family: "Times New Roman", Times, serif; font-size: 12pt; font-style: normal; line-height: 12pt}
body {  }
