.Anoline   {  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; text-decoration: none; color: #000011}
A:link    {  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #000011}
A:visited {  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: #000011}
A:hover   {  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; color: red}

BODY {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif}

P    {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif}
H1   {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif}
H2   {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif}
H3   {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif}
H4   {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif}
TH   {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif; font-weight: bold; background-color: #EEEEEE; text-align: left}
TD   {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif}

LI   {font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif }

