h2 {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 150%; font-weight: bold; font-style: normal; color: #000033}
a {  text-decoration: none}
h3 {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 125%; font-style: normal; font-weight: bold; color: #000033; vertical-align: 10%}
p {  text-indent: 1.4em; text-align: left; clip:   rect(   ); margin-top: -0.8em}
h4 {  font-family: Geneva, Arial, Helvetica, san-serif; font-size: 115%; font-style: italic; font-weight: 500; margin-bottom: 1em}
li {  margin-top: 0.5em}
body {  font-family: Georgia, "Times New Roman", Times, serif; background-color: #FFFFFF; margin-right: 10px; margin-top: 30px; width: 480px; margin-left: 30px; margin-bottom: 5px}
h5 {  font-size: 110%; font-style: italic; font-weight: 500; margin-bottom: 1em; margin-top: 0em}
ol {  margin-top: -0.8em; margin-bottom: 1.2em}
